body {
    font-family: 'Roboto', sans-serif;
}

#parent {
    height: 75vh;
    border: 2px solid lightgrey;
    padding: 10px;
    overflow: hidden;
}

#addBox {
    width: 160px;
    height: 40px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    background: #f0f0f0;
    cursor: pointer;
}

#addBox:hover {
    background: grey;
    color: #f0f0f0;
    transition: 0.3s;
}


label {
    font-size: 20px;
    font-weight: 500;
}

.react-responsive-modal-modal {
    border-radius: 6px;
    border: 1px solid lightgray;
    width: 100%;
    max-width: 400px !important;
    display: 'flex';
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center !important;

}

.react-responsive-modal-modal input {
    margin: 5px;
    max-width: 380px;
    text-align: center !important;
}

.react-responsive-modal-modal input[type="number"] {
    width: 20%;
    text-align: center !important;
}